apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-deployment
  namespace: default
  labels:
    app: nodejs-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodejs-app
  template:
    metadata:
      labels:
        app: nodejs-app
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: beta.kubernetes.io/arch
                operator: In
                values:
                - amd64
                - arm64
      containers:
      - name: node-backend
        image: 094853031708.dkr.ecr.us-east-2.amazonaws.com/aws-capability:backend-python
        ports:
        - containerPort: 8181
        env:
        - name: DATABASE_URL
          value: localhost:27017
      # - name: db-mongo
      #   image: 094853031708.dkr.ecr.us-east-2.amazonaws.com/aws-capability:db-mongo
      #   ports:
      #   - containerPort: 27017
      # - name: frontend-vue
      #   image: 094853031708.dkr.ecr.us-east-2.amazonaws.com/aws-capability:frontend-vuejs
      #   ports:
      #   - containerPort: 3000
      #   env:
      #   - name: API_URL
      #     value: localhost:3080