apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-deployment
  namespace: node-app
  labels:
    app: nodejs-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodejs-app
  template:
    metadata:
      labels:
        app: nodejs-app
    spec:
      containers:
      - name: node-backend
        image: 094853031708.dkr.ecr.us-east-2.amazonaws.com/aws-capability:backend-node
        ports:
        - containerPort: 3080
        env:
        - name: DATABASE_URL
          value: localhost:27017
      